.PhoneInput {
  background-color: #00203f;
  border: 1px solid #56fe8f;
  border-radius: 5px;
  padding-inline: 15px;
  gap: 10px;
  transition: 0.3s all ease;
}
.PhoneInput--focus {
  box-shadow: 0 0 5px 1px #56fe8f;
}
.PhoneInput > input {
  background-color: #00203f;
  border: none;
  outline: none;
  height: clamp(40px, 13vw, 56px);
  width: 100%;
  color: #b6adad;
  font-size: clamp(14px, 1.5vw, 16px);
  font-weight: 600;
}
.PhoneInput > input::placeholder {
  color: #b6adaddc;
}
