:root {
  --PhoneInputCountrySelectArrow-color: #ffffff !important;
  --PhoneInputCountrySelectArrow-opacity: 1;
  --PhoneInputCountryFlag-borderColor: rgb(0, 0, 0);
}
.App {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
p {
  margin: 0;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: transparent !important;
}
