:root {
  --PhoneInputCountrySelectArrow-color: #ffffff !important;
  --PhoneInputCountrySelectArrow-opacity: 1;
  --PhoneInputCountryFlag-borderColor: rgb(0, 0, 0);
}
.App {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
